<h2>Вопрос: {{ model.question }}</h2>
<div>
    <dt>Вопрос
    <dd>{{ model.question }}</dd>
    <dt>Комментарий
    <dd>{{ model.comment }}</dd>
    <dt>Тип
    <dd>{{ model.typeVerbose }}</dd>
    {% if model.type in ['radio', 'check'] %}
        <dt>Ответы
        <dd>{{ model.answers | nl2br }}</dd>
    {% endif %}
</div>

<div class="clear"></div>

<hr>

<div>
    <a class="btn btn-primary" href="{{ this.createUrl('edit', {'id': model.id}) }}" title="Редактировать"><span>Редактировать</span></a>
    <a class="btn btn-danger" href="{{ this.createUrl('delete', {'id': model.id}) }}"
       title="Удалить"><span>Удалить</span></a>
</div>