{% extends "/views/layouts/main.twig" %}
{% block content %}
<div class="row">
    <div class="span9">
        <div id="content">
            {{ content | raw }}
        </div><!-- content -->
    </div>
    <div class="span3">
        <div id="sidebar">
            {% do this.beginWidget('zii.widgets.CPortlet', {'title':'Operations'}) %}
            {{ this.widget('bootstrap.widgets.TbMenu', {'items':this.menu, 'htmlOptions': {'class':'operations'}}, true) | raw }}
            {% do this.endWidget() %}
        </div><!-- sidebar -->
    </div>
</div>
{% endblock %}