<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="en" />

    <link rel="stylesheet" type="text/css" href="{{ App.theme.baseUrl | raw }}/css/styles.css" />

    <title>{{ this.pageTitle }}</title>

    {% do App.bootstrap.register() %}
</head>

<body>

{{ this.widget('bootstrap.widgets.TbNavbar', {
    'items':[
        {
            'class':'bootstrap.widgets.TbMenu',
            'items':[
                {'label':'Home', 'url':App.homeUrl},
                {'label':'Тестирование', 'url':['/interview']},
                {'label':'Результаты', 'url':['/data']},
                {'label':'Тесты', 'url':['/quest']}
            ]
        }
    ]
}, true) | raw }}

<div class="container" id="page">

    {% if this.breadcrumbs %}
        {{ this.widget('bootstrap.widgets.TbBreadcrumbs', {'links':this.breadcrumbs}, true) | raw }}
    {% endif %}

    {% block content %}
        {{ content | raw }}
    {% endblock %}

    <div class="clear"></div>

    <div id="footer" class="footer">
        {{ Yii.powered() | raw }}
    </div>
    <!-- footer -->

</div>
<!-- page -->

</body>
</html>
