<h3>Вопрос {{ question.order }}</h3>

<div class="lead">{{ question.question }}</div>
<blockquote>{{ question.comment }}</blockquote>

<h4>Ваш ответ</h4>

{% if error %}<div class="label label-warning">{{ error }}</div>{% endif %}

<div class="field-radios{#-inline#}">
    {% for key, answer in question.answers_a %}
        <div>
            <label>
                <input type="radio" name="answer[{{ question.order }}]"
                       value="{{ key }}" {{ current is not null and current == key ? 'checked' : '' }}>&nbsp;{{ key+1 }}. {{ answer }}
            </label>
        </div>
    {% endfor %}
</div>

