<h3>Вопрос {{ question.order }}</h3>

<div class="lead">{{ question.question }}</div>
<blockquote>{{ question.comment }}</blockquote>

<h4>Ваш ответ</h4>

{% if error %}<div class="label label-warning">{{ error }}</div>{% endif %}

<div class="field-checkboxes">
    {% for key, answer in question.answers_a %}
        <div>
            <label>
                <input type="checkbox" name="answer[{{ question.order }}][{{ key }}]" value="1" {{ current[key] ? 'checked' : '' }}>&nbsp;{{ key+1 }}. {{ answer }}
            </label>
        </div>
    {% endfor %}
</div>

