<h3>Вопрос {{ question.order }}</h3>

<div class="lead">{{ question.question }}</div>
<blockquote>{{ question.comment }}</blockquote>

<h4>Ваш ответ</h4>

{% if error %}<div class="label label-warning">{{ error }}</div>{% endif %}

<div class="field-checkboxes-custom">
    <input type="text" name="answer[{{ question.order }}]" class="field-text" value="{{ current }}">
</div>