<h2>Тестирование окончено</h2>

<h3>Спасибо</h3>

<a href="{{ this.createUrl('/data/view', {'id': interview.id}) }}">Результаты</a> <br>
<a href="{{ this.createUrl('/interview') }}">Новое тестирование</a>
