<h2>{{ this.pageTitle }}</h2>

<h4>Пройти тестирование</h4>

<ul>
    {% for quest in quests %}
        {% if quest.questions | length > 0 %}
            <li><a href="{{ this.createUrl('quest', {'qid': quest.id}) }}">{{ quest.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>