<h2>{{ this.pageTitle }}</h2>

<form method="POST" action="{{ this.createUrl('answer', {'qid': quest.id}) }}">
    <h4>Ваше имя</h4>

    {% if errors.user %}<div class="label label-warning">{{ errors.user }}</div>{% endif %}

    <div>
        <input type="text" name="user" class="field-text" value="{{ currents.user }}">
    </div>
    <hr>

    {% for question in questions %}
        {% set current = currents[question.order] %}
        {% set error = errors[question.order] %}
        {% include '/views/interview/_type_' ~ question.type ~ '.twig' %}

        <hr>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
