<h2>{{ this.pageTitle }}</h2>

<div class="form-main-button">
    <a class="btn btn-primary" href="{{ this.createUrl('add') }}" title="Добавить"><i class="icon-plus icon-white"></i>&nbsp;Добавить тест</a>
</div>

{{ this.widget('bootstrap.widgets.TbGridView', {
'type': 'striped',
'dataProvider': data,
'template': "{items}\n{pager}",
'columns': [
{'name':'name', 'type': 'raw', 'value': '$data->link'},
{'name':'questions', 'value': 'count($data->questions)'}
]
}, true) | raw }}