<h2>{{ this.pageTitle }}</h2>

<div class="form-main-button">

{{ this.widget('bootstrap.widgets.TbButtonGroup', {
    'id': 'add-questions',
    'type':'primary',
    'encodeLabel': false,
    'buttons': [{
        'label': '<i class="icon-plus icon-white"></i>&nbsp;Добавить вопрос',
        'items': [
            {'label':'Комментарий', 'url':this.createUrl('/question/add', {'type':'comment', 'qid':model.id})},
            {'label':'Текстовый', 'url':this.createUrl('/question/add', {'type':'text', 'qid':model.id})},
            {'label':'Радиокнопки', 'url':this.createUrl('/question/add', {'type':'radio', 'qid':model.id})},
            {'label':'Чекбоксы', 'url':this.createUrl('/question/add', {'type':'check', 'qid':model.id})}
        ],
    }],
    'htmlOptions': {
        'class': 'add-questions',
    }
}, true) | raw }}

</div>

{{ this.widget('bootstrap.widgets.TbGridView', {
'type': 'striped',
'dataProvider': data,
'template': "{items}\n{pager}",
'columns': [
{'name':'order'},
{'name':'question', 'type': 'raw', 'value': '$data->link'},
{'name':'type', 'value': '$data->typeVerbose'}
]
}, true) | raw }}

<hr>

<div>
    <a class="btn btn-primary" href="{{ this.createUrl('edit', {'id': model.id}) }}" title="Редактировать"><span>Редактировать</span></a>
    <a class="btn btn-danger" href="{{ this.createUrl('delete', {'id': model.id}) }}"
       title="Удалить"><span>Удалить</span></a>
</div>
