<h2>Home</h2>
<ul>
    <li><a href="{{ this.createUrl('/interview') }}">Тестирование</a></li>
    <li><a href="{{ this.createUrl('/data') }}">Результаты</a></li>
    <li><a href="{{ this.createUrl('/quest') }}">Тесты</a></li>
</ul>