<h2>{{ this.pageTitle }}</h2>

{{ this.widget('bootstrap.widgets.TbGridView', {
'type': 'striped',
'dataProvider': data,
'template': "{items}\n{pager}",
'columns': [
{'name':'created', 'type': 'raw', 'value': '$data->link'},
{'name':'user', 'value': '$data->user'},
{'name':'quest', 'value': '$data->quest->name'},
{'name':'data', 'value': 'count($data->data)'}
]
}, true) | raw }}