<h2>{{ this.pageTitle }}</h2>

<h4>Тест: {{ interview.quest.name }}</h4>

<dt>Имя</dt>
<dd>{{ interview.user }}</dd>
<dt>Дата прохождения</dt>
<dd>{{ interview.created | date('d.m.Y H:i:s') }}</dd>
{% for key, answer in data %}
    <dt>Вопрос {{ key }}: {{ answer.question }}</dt>
    <dd>Ответ: {{ answer.answer }}</dd>
{% endfor %}


<div class="clear"></div>
<hr>
<div>
    <a class="btn btn-danger" href="{{ this.createUrl('delete', {'id': interview.id}) }}" title="Удалить"><span>Удалить</span></a>
</div>